<div class="row">
    <div class="col-md-6">{{ form_row(form.name) }}</div>
    <div class="col-md-6">{{ form_row(form.slug) }}</div>
</div>
{{ form_row(form.view) }}
{{ form_row(form.description) }}
